<main class="main dialog">
  <div class="main__body">
    <div class="main__aside">
      <header class="main__header">
        <div class="interlocutors__search">
          <div class="interlocutors__searchbar">
            <input type="text" placeholder="Search">
            <img src="assets/img/icons/search.png" alt="search">
          </div>
        </div>
      </header>
      <div class="interlocutors__wrap">
        <ul class="interlocutors__list">
          <li class="interlocutors__user">
            <span class="interlocutors__user-online"></span>
            <img class="interlocutors__avatar" src="assets/img/icons/user1.png" alt="user_icon" />
            <div class="interlocutors__text">
              <h3 class="interlocutors__name">Matt Thompson</h3>
              <span class="interlocutors__msg">Привет Кирилл, как дела? Привет Кирилл, как дела?</span>
            </div>
            <div class="interlocutors__actions">
              <button class="interlocutors__actions-btn"><span></span><span></span><span></span></button>
              <span class="interlocutors__time-left">5 min</span>
            </div>
          </li>
          <li class="interlocutors__user interlocutors__user--active">
            <img class="interlocutors__avatar" src="assets/img/icons/user2.png" alt="user_icon" />
            <div class="interlocutors__text">
              <h3 class="interlocutors__name">Matt Thompson</h3>
              <span class="interlocutors__msg">Привет Кирилл, как дела? Привет Кирилл, как дела?</span>
            </div>
            <div class="interlocutors__actions">
              <button class="interlocutors__actions-btn"><span></span><span></span><span></span></button>
              <span class="interlocutors__time-left">5 min</span>
            </div>
          </li>
          <li class="interlocutors__user">
            <span class="interlocutors__user-online"></span>
            <img class="interlocutors__avatar" src="assets/img/icons/user3.png" alt="user_icon" />
            <div class="interlocutors__text">
              <h3 class="interlocutors__name">Matt Thompson</h3>
              <span class="interlocutors__msg">Привет Кирилл, как дела? Привет Кирилл, как дела?</span>
            </div>
            <div class="interlocutors__actions">
              <button class="interlocutors__actions-btn"><span></span><span></span><span></span></button>
              <span class="interlocutors__time-left">5 min</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main__wrap chat">
      <header class="main__header">
        <span class="chat__header-text">Ольга Курочкина набирает...</span>
        <button class="chat__header-btn"><img src="assets/img/icons/favorite.png" alt="favorite"></button>
        <button class="chat__header-btn"><img src="assets/img/icons/phone.png" alt="phone"></button>
        <button class="chat__header-btn"><img src="assets/img/icons/video-call.png" alt="video phone"></button>
      </header>
      <div class="chat__body">
        <div class="chat__message chat__msg-from-interlocutor">
          <div class="chat__user">
            <img src="assets/img/icons/user2.png" alt="icon interlocutor" class="chat__user-icon">
            <span class="chat__msg-time">12:47</span>
          </div>
          <div class="chat__msg-text">Привет Кирилл, я тут зарегистрировалась</div>
        </div>
        <div class="chat__message chat__msg-from-interlocutor">
          <div class="chat__user">
            <img src="assets/img/icons/user2.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:48</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
        <div class="chat__message chat__msg-from-my">
          <div class="chat__user">
            <img src="assets/img/icons/user1.png" alt="icon my" class="chat__user-icon">
            <span class="chat__msg-time">12:49</span>
          </div>
          <div class="chat__msg-text">Мы планируем ее реализовать по типу блога, с возможностью добавлять туда новые отзывы</div>
        </div>
      </div>
      <div class="chat__footer">
        <div class="chat__add">
          <button class="chat__add-btn" (click)="toggleAddList()"><img src="assets/img/icons/attach.png" alt="attach file"></button>
          <div class="chat__add-list" [ngClass]="{'chat__add-list--isHidden': !addListIsVisible}">
            <label class="chat__add-item"><input type="file"><img src="assets/img/icons/phone.png" alt=""></label>
            <label class="chat__add-item"><input type="file"><img src="assets/img/icons/phone.png" alt=""></label>
            <label class="chat__add-item"><input type="file"><img src="assets/img/icons/phone.png" alt=""></label>
            <label class="chat__add-item"><input type="file"><img src="assets/img/icons/phone.png" alt=""></label>
            <label class="chat__add-item"><input type="file"><img src="assets/img/icons/phone.png" alt=""></label>
          </div>
        </div>
        <div class="chat__input">
          <div class="chat__input-field" contenteditable="true">
            <span class="chat__input-placeholder">Напишите ваше сообщение</span>
          </div>
          <input type="hidden" class="chat__input-hidden">
        </div>
        <button class="chat__smile-btn"><img src="assets/img/icons/emojis.png" alt="emoji"></button>
        <button class="chat__send-btn"><img src="assets/img/icons/send.png" alt="send"></button>
      </div>
    </div>
  </div>
</main>