<aside class="menu">
    <div class="menu__actions">
        <button class="menu__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="menu__actions-list">
            <li class="menu__actions-item" [class.menu__actions-item--active]="router.isActive('/')">
                <button class="menu__actions-btn" routerLink="/" (click)="toggleMenu()">Ч</button>
            </li>
            <li class="menu__actions-item">
                <button class="menu__actions-btn">Д</button>
            </li>
            <li class="menu__actions-item">
                <button class="menu__actions-btn">+</button>
            </li>
        </ul>
    </div>
    <div class="menu__submenu" [class.isHidden] = !isVisible >
        <div class="menu__head">
            <h2 class="menu__title">Диалоги</h2>
            <button class="menu__add-btn"><img src="assets/img/icons/add.png" alt="add"></button>
        </div>
        <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link">Добавить комнату</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Добавить канал</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Начать диалог</a></li>
        </ul>
        <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link">Настройки</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Поддержка</a></li>
        </ul>
    </div>
</aside>